body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3E2723;

}
input {
  background-color: #3E2723 !important;
  color: #ff8a80 !important;
  text-align: right; 

}

.card {
  background-color: #3E2723 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.back-brown {
  background-color: #3E2723;
  height: 100vh;
  width: 100vw;
}

.color-pink {
  color: #ff8a80;

}
.color-white {
  color: white;

}

.color-pink-one {
  color: #ff5252;

}

.border-theme-pink {
  border: 1px solid #ff8a80;
  border-radius: 5px;

}

.border-theme-pink-thin {
  border: 0.5px solid #ff8a80;
  border-radius: 5px;

}

.border-theme-right-pink-thin {
  border-left: 1px solid #ff8a80;

}
.border-bottom-theme-pink {
  border-bottom: 1px solid #ff8a80;

}


.w-20 {
  width: 20vw;
}

.w-80 {
  width: 80vw;
}

.h-80 {
  height: 80vh !important;
}

.h-20 {
  height: 20vh !important;
}

.height-inherit {
  height: inherit;
}
.opacity-5 {
  opacity: 0.5;
}

.hover-white:hover {
  color: whitesmoke !important;
  transform: scale(1.05);
  transition: 0.5s;
}

.module {
  padding: 1rem;
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      #ff8a80, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

.module-left {
  padding: 1rem;
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to right, 
      #ff8a80, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

.shiftToBottonEnd {
  display: inline-block;
  align-self: flex-end;
}
.visible-hide {
  visibility: hidden;
}

.shiftToTop {
  display: inline-block;
  align-self: top;
}

.text-grey {
  color: lightgray;
}

.f-600 {
  font-weight: 600;
}